body {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 18px;
    background-color: #F0F0FF; 
    color: #696969;
    padding: 3px;
}

#main {
    padding: 10px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: #CCCCFF;
    border-radius: 0 0 5px 5px;
}

h1 {
    font-family: "Lucida Console", Monaco, monospace;
    border-bottom: 3px solid #666699;
    color: #666699;
    font-size: 30px;
}
